* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #ffffff;
  color: #000;
  min-height: 100vh;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  line-height: 1.6;
}
li {
  list-style: none;
}
.live-filter {
  width: 45rem;
  box-shadow: 1rem 1rem 2rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  margin: 3rem 0;
  background: #fff;
}

.search {
  /* margin: 5px; */
  background: #432c7a;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 3rem 0;
  color: #fff;
}
.search p:first-child {
  font-weight: bold;
  font-size: 2rem;
}
.search p:last-of-type {
  font-weight: lighter;
  font-size: 1.2rem;
  margin: 0.4rem 0 1.6rem 0;
}

.search input {
  width: 60%;
  border: none;
  padding: 20px 25px;
  outline: 10px solid #432c7a;
  border-radius: 0.5rem;
  font-size: 20px;
}
.user-info {
  padding: 2rem;
  height: 40rem;
  overflow-y: auto;
}
.user-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.user-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  border-radius: 1rem;
  gap: 1rem;
}
.user-data img {
  max-width: 100%;
  height: auto;
  width: 6rem;
  border-radius: 50%;
}
.user-data div {
  text-align: start;
}
.user-data p {
  font-size: 17px;
  text-transform: capitalize;
  margin-bottom: 12px;
  padding: 5px;
  text-align: start;
}
.user-data a {
  text-decoration: none;
  color: #333;
  background: #ececec;
  padding: 0.7rem;
  border-radius: 30px;
  box-shadow: inset 5px 0px 10px #333, 1px 1px 10px #828282;
}

.hide {
  display: none;
  /* background-color: red; */
}
